body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #2e2e2e;
    color: white;
    
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    width: 90vw;
}